/*------------------------------------------------------------------
    Main Style Stylesheet
    Project:        www.martinbelda.dev
    Version:        1.0
    Author:         Martín Belda
    Primary use:    Creative, Coporate, Business, Portfolio, Personal
-------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--blue: #00abf0;
	--darkblue: #023e8a;
	--white: #ededed;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #000000, #001233, #001845, #023e7d, #0353a4);
	color: #ededed;	
	font-family: 'Poppins', sans-serif
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	z-index: 100;

}

.logo {
	position: relative;
	font-size: 25px;
	color: #ededed;
	text-decoration: none;
	font-weight: 600;
}


.navbar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
}

.navbar a:hover,
.navbar a:active {
	color: var(--blue);
}

.home {
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 0 10%;
	background: url('yo.jpeg') no-repeat;
	background-position-x: 95%;
	background-position-y: center;
	background-size: 30%;

}

@media screen and (max-width: 1500px) {
	.home {
		background: none;
	}
}

.home-content {
	background: transparent;
	max-width: 600px;
}

.home-content h1 {
	position: relative;
	font-size: 56px;
	font-weight: 500;
	line-height: 1.2;
}

.home-content h3 {
	position: relative;
	font-size: 40px;
	font-weight: 700;
	color: var(--blue);
}

.home h3 {
	background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animation 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
    alternate-reverse;
}

@keyframes animation {
	from {
		background-position: -300px;
	}

	to {
		background-position: 300px;
	}
}


.home-content p {
	position: relative;
	font-size: 16px;
	margin: 20px 0 40px;
}


.home-content .btn-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}


.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: var(--blue);
	border: 2px solid var(--blue);
	border-radius: 8px;
	font-size: 19px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
	color: var(--white)
}

.btn-box a:hover {
	background: var(--darkblue);
}

.home-sci {
	position: absolute;
	bottom: 40px;
	width: 107px;
	display: flex;
	justify-content: space-between;
}


.home-sci a {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	width: 40px;
	height: 40px;
	border: 2px solid var(--blue);
	border-radius: 50%;
	font-size: 20px;
	color: var(--blue);
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
}

.home-sci a:hover {	
	color: var(--white);
	border-color: var(--white);
}