:root{
    --black: #020202;
    --marine-dark:#003747;
    --marine: #13485c;
    --marine-light: 	#007081;
}

* {
    box-sizing: border-box;
}
body{
    background: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;    
}

hr{
    border-top: 3px solid var(--marine-dark); 
}

.page  {
    box-sizing: border-box;
    background: white;
    width: 210mm;
    height: 297mm;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--black);
    font-size: 0.9rem;
}
h1{
    font-size: 3.5rem;
    color: var(--marine-dark);
}
h2{
    color: var(--marine)
}
h3{
    color: var(--marine);
}

.contact h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
h4{
    color: var(--marine-dark);
}
h4 span{
    color: var(--marine-light);
}

.skills li{
    margin:0px 0px;
    text-decoration: dotted;
}



a{
    text-decoration: none;
    color: var(--marine-light)
}
a:hover{
    color: var(--marine)
}
strong{
    color: var(--marine);
}
h4 .s3{
    float: right;
    color: var(--marine-dark);
}
section{
    display: flex;
    flex-direction: column;
}
.courses-certifications, .skills{
    gap: 10px
}
section li{
    margin-top: 10px;
    list-style-type: none;
}

.summary{
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 14px;
    font-size: 1rem;
}

.summary h3{
    font-size: 1rem;
}

.summary .yo{        
    border-radius: 50%;
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
}

.summary .contact{
    display: flex;  
    flex-direction: column;
    gap: 10px;
    grid-column-start: 5;
    grid-column-end: 13;
    align-self: center;
    justify-content: space-around;
}

.summary .description{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
}
.courses-certifications li{
    margin:0
}
/*Print options*/
@media print{
    .no-print{
        display:none;
    }
    body{
        margin: 0;
        padding: 0px;
        gap: 0px;
    }
}