:root{
    --black: #020202;
    --marine-dark: #024730;
    --marine: #009c69;
    --marine-light: #00d499;
    --marine-white: #86ffdd;
}

* {
    margin: 0;
    padding: 0;
    text-indent: 0;
    box-sizing: border-box;
}
body{
    background: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;               
}
h1{
    font-size: 2.5rem;
}
hr{
    border-top: 3px solid var(--black); 
}
.header{ /* top appbar */
    position:relative;
    background: var(--marine-dark);    
    font-family: Poppins;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.page  {
    box-sizing: border-box;
    background: white;
    width: 210mm;
    height: 297mm;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}
.page h1, h2, h3, h4{
    color: var(--marine);
}

strong{
    color: var(--marine-light);
}
h4 .s3{
    float: right;
}
section{
    display: flex;
    flex-direction: column;
}
section li{
    margin-top: 20px;
    list-style-type: none;
}

.summary{
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 14px;
    font-size: 1rem;
}

.summary h3{
    font-size: 1rem;
}

.summary .yo{        
    border-radius: 50%;
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
}

.summary .contact{
    display: flex;  
    flex-direction: column;
    gap: 10px;
    grid-column-start: 5;
    grid-column-end: 13;
    align-self: center;
    justify-content: space-around;
}

.summary .description{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
}
.courses-certifications li{
    margin:0
}
/*Print options*/
@media print{
    .no-print{
        display:none;
    }
    body{
        gap: 0px
    }
}